.Navbar {
  position: absolute;
  top: 0;
  border-style: solid;
  border-width: 0 0 1px;
  width: 100%;
  background-color: white;
}

.Footer {
  position: absolute;
  bottom: 0;
  margin-top: auto;
  width: 100%;
  background-color: black;
  color: white;
}
